<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <title>Full Stack Project 02 - Home</title>
</head>
<body>
    <div>
        <%- include("../partials/navigation.ejs") %>
    </div>
    <div class="container-bg container-similar">
        <div class="container">
            <h1>List of similar artists - <%= posts.similarartists["@attr"].artist %></h1>
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <img src=<%= posts.similarartists.artist[0].image[3]["#text"] %> class="card-img-top" alt="Artist image 01">
                        <div class="card-body">
                            <h1 class="card-text"><%= posts.similarartists.artist[0].name %></h1>
                            <a href=<%= posts.similarartists.artist[0].url %> class="btn btn-danger">Last.fm Page</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img src=<%= posts.similarartists.artist[1].image[3]["#text"] %> class="card-img-top" alt="Artist image 01">
                        <div class="card-body">
                            <h1 class="card-text"><%= posts.similarartists.artist[1].name %></h1>
                            <a href=<%= posts.similarartists.artist[1].url %> class="btn btn-danger">Last.fm Page</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img src=<%= posts.similarartists.artist[2].image[3]["#text"] %> class="card-img-top" alt="Artist image 01">
                        <div class="card-body">
                            <h1 class="card-text"><%= posts.similarartists.artist[2].name %></h1>
                            <a href=<%= posts.similarartists.artist[2].url %> class="btn btn-danger">Last.fm Page</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img src=<%= posts.similarartists.artist[3].image[3]["#text"] %> class="card-img-top" alt="Artist image 01">
                        <div class="card-body">
                            <h1 class="card-text"><%= posts.similarartists.artist[3].name %></h1>
                            <a href=<%= posts.similarartists.artist[3].url %> class="btn btn-danger">Last.fm Page</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <img src=<%= posts.similarartists.artist[4].image[3]["#text"] %> class="card-img-top" alt="Artist image 01">
                        <div class="card-body">
                            <h1 class="card-text"><%= posts.similarartists.artist[4].name %></h1>
                            <a href=<%= posts.similarartists.artist[4].url %> class="btn btn-danger">Last.fm Page</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img src=<%= posts.similarartists.artist[5].image[3]["#text"] %> class="card-img-top" alt="Artist image 01">
                        <div class="card-body">
                            <h1 class="card-text"><%= posts.similarartists.artist[5].name %></h1>
                            <a href=<%= posts.similarartists.artist[5].url %> class="btn btn-danger">Last.fm Page</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img src=<%= posts.similarartists.artist[6].image[3]["#text"] %> class="card-img-top" alt="Artist image 01">
                        <div class="card-body">
                            <h1 class="card-text"><%= posts.similarartists.artist[6].name %></h1>
                            <a href=<%= posts.similarartists.artist[6].url %> class="btn btn-danger">Last.fm Page</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img src=<%= posts.similarartists.artist[7].image[3]["#text"] %> class="card-img-top" alt="Artist image 01">
                        <div class="card-body">
                            <h1 class="card-text"><%= posts.similarartists.artist[7].name %></h1>
                            <a href=<%= posts.similarartists.artist[7].url %> class="btn btn-danger">Last.fm Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>